* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: rgba(121, 121, 3, 0.699);
    height: 200vh;
}

main {
    width: 50%;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: yellow;
    background-image: linear-gradient(to right, yellow, white);
    border-radius: 3em;
    padding: 1em;
}

.main {
    width: 50%;
    height: 200px;
    background-color: yellow;
    background-image: linear-gradient(to right, yellow, white);
    border-radius: 3em;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.design {
    width: 50%;
    height: 98px;
    background-color: wheat;
    border-radius: 3em;
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-weight: 900;
}

.vl {
    border-left: 4px solid yellow;
    height: 98px;
}

.foot {
    width: 200px;
    height: 30px;
    background-color: purple;
    border-radius: 3em;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}
.foot span {
    color: yellow;
}